:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 70%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  --biggestFontsize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.listingSeclection {
  flex-basis: 100%;
  position: relative;
  align-items: center;
}
.listingSeclection .secContainer {
  width: 100%;
  margin: 1rem 0;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.listingSeclection .secContainer .singleItem {
  position: relative;
  flex-basis: 20%;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 10px;
  background: var(--whiteColor);
  overflow: hidden;
  box-shadow: 0 0 3px rgba(104, 103, 103, 0.3);
}
.listingSeclection .secContainer .singleItem:hover {
  background: var(--itemCardHover);
  box-shadow: 0 2px 2px var(--inputColor);
}
.listingSeclection .secContainer .singleItem .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--PrimaryColor);
}
.listingSeclection .secContainer .singleItem .imgPH {
  box-sizing: border-box;
  max-width: 50px;
  padding: 1px;
  align-self: flex-start;
}
.listingSeclection .secContainer .singleItem .imgDO {
  box-sizing: border-box;
  max-width: 50px;
  padding: 5px;
  align-self: flex-start;
}
.listingSeclection .secContainer .singleItem .imgEC {
  box-sizing: border-box;
  max-width: 50px;
  padding: 7px;
  align-self: flex-start;
}
.listingSeclection .secContainer .singleItem .imgTemp {
  box-sizing: border-box;
  max-width: 50px;
  align-self: flex-start;
}
.listingSeclection .secContainer .singleItem h2 {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  align-self: center;
}
.listingSeclection .forecastContainer {
  width: 100%;
  margin: 1rem 0;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.listingSeclection .forecastContainer .singleItem {
  position: relative;
  flex-basis: 20%;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 10px;
  background: var(--whiteColor);
  overflow: hidden;
  box-shadow: 0 0 3px rgba(104, 103, 103, 0.3);
}
.listingSeclection .forecastContainer .singleItem:hover {
  background: var(--itemCardHover);
  box-shadow: 0 2px 2px var(--inputColor);
}
.listingSeclection .forecastContainer .singleItem .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--PrimaryColor);
}
.listingSeclection .forecastContainer .singleItem .imgPH {
  box-sizing: border-box;
  max-width: 50px;
  padding: 1px;
  align-self: flex-start;
}
.listingSeclection .forecastContainer .singleItem .imgDO {
  box-sizing: border-box;
  max-width: 50px;
  padding: 5px;
  align-self: flex-start;
}
.listingSeclection .forecastContainer .singleItem .imgEC {
  box-sizing: border-box;
  max-width: 50px;
  padding: 7px;
  align-self: flex-start;
}
.listingSeclection .forecastContainer .singleItem .imgTemp {
  box-sizing: border-box;
  max-width: 50px;
  align-self: flex-start;
}
.listingSeclection .forecastContainer .singleItem h2 {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  align-self: center;
}
.listingSeclection .divDetails2 {
  padding-top: 10%;
  gap: 1rem;
}/*# sourceMappingURL=frame.css.map */