:root {
    --PrimaryColor: hsl(94, 59%, 35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 70%, 94%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --itemCardColor: hsl(120, 5%, 88%);
    --itemCardHover: hsl(120, 27%, 87%);

    --biggestFontsize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;   
}

.topSelection{
    .headerSelection{
        justify-content: space-between;

        .title{
            h1{
                font-size: var(--h1FontSize);
                color: var(--blackColor);
                font-weight: 700;
            }

            p{
                font-size: var(--normalFontSize);
                color: var(--textColor);
                font-weight: 500;
            }

        }

        .searchBar{
            padding: 1rem 2rem;
            background: var(--whiteColor);
            border-radius: 5px;
            gap: 1rem;
            box-shadow: 0 2px 4px var(--inputColor);

            .input1{
                border: none;
                outline: none;
                background: none;
            }
            
            .icon{
                color: var(--textColor);
                &:hover{
                    color: var(--PrimaryColor);
                }
            }

        }


        .adminDiv{
            gap: 1rem;

            .icon{
                background: var(--whiteColor);
                font-size: var(--biggestFontsize);
                border-radius: 8px;
                padding: 5px;
                box-shadow: 0 2px 4 px var(--inputColor);
                color: var(--textColor);
                &:hover{
                    color: var(--PrimaryColor);
                }
            }   

            .adminImage{
                border:  3px solid var(--whiteColor);
                border-radius: 10px;
                width: 40px;
                height: 40px;
                overflow: hidden;
                box-shadow: 0 2px 4px var(--inputColor);
                box-sizing: border-box;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
            }

        }
    }


    .cardSection{
        margin-top: 3rem;
        gap: 1rem;

        .rightCard{
            position: relative;
            flex-basis: 70%;
            height: 350px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 2rem;
            border-radius: 1rem;
            background-size: cover;
            overflow: hidden;
            background-position: center;

            .leaflet-container {
                height: 110%;
                width: 100%;
                border-radius: 2rem;
                
              }

            .videoDiv{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
    
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            h1, p, .btn{
                z-index: 100;
            } 
    
            h1{
                font-size: var(--h1FontSize);
                color: var(--whiteColor);
                font-weight: 800;
            }
    
            p{
                padding: 1rem;
                color: var(--paleGreen);
                font-weight: 500;
            }
    
            .buttons{
                gap: 1rem;
    
                .btn{
                    box-shadow: none;
                    padding: 0.8rem 1.5rem;
                    color: var(--PrimaryColor);
                    border-radius: 2px solid transparent;
    
                    .transparent{
                        background: none;
                        border: 2px solid var(--paleGreen);
                        color: var(--paleGreen);
    
                        &:hover{
                            background: var(--paleGreen);
                            color: var(--PrimaryColor);
                        }
                    }
                }
            }
        }

        .leftCard{
            position: relative;
            flex-basis: 30%;
            height: 375px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 2rem;
            border-radius: 1rem;
            background-size: cover;
            overflow: hidden;
            background-position: center;

            h1{
            font-size: var(--h1FontSize);
            color: var(--blackColor);
            font-weight: 700;
            }

            .btn{
                align-self: last baseline;
                border: 1px solid transparent;
                font-weight: 500;
                background: var(--bgColor);
                box-shadow: none;
            }

            .btn:hover{
                border: 1px solid var(--PrimaryColor);
            }
        }

    }

}